* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background: url('../images/albumsqt-3.jpg');
  width: 100%;
  height: 100%;
  margin: 0 auto;
 
}

.container {
  background: #A6A6A8;
  width: 400px;
}

#imageLogo {
  text-align: center;
}

header {
  
  width: 100%;
  margin: 0 auto;
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
}

.totalLetter {
  margin: 20px;
  padding: 20px;
}

#startButton {
  text-align: center;
  margin: 20px;
}
#letter-space{
  height: 100px;
  padding: 5px;
  bottom: 15px;
}

.btn {
  width: 150px;
}

.letterselect {
  font-size: 90px;

}
#user-score #total-turns #totalLetter {
  font-size: 30px;
}

.scoreZone {
  border: 5px solid;
}

.card-group {
  
  width:50%;
  
  margin: 100px auto 250px auto;
  
}
.card-body {
  
}

