* {
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}


#imageLogo {

  text-align: center;
}

h1 {
  font-family: 'Asap', sans-serif;
  color: #24272E;
  text-align: center;
}

.container-fluid {
  /* background-color: #24272E; */
  margin: 0 auto;
  padding-bottom: 80px;
}

p {
  font-family: 'Asap', sans-serif;
  font-size: 25px;
}

.jumbtron {
  margin: 20px auto;
  border: 3px solid white;
  border-radius: 4px;
  width: 400px;
  height: 300px;
  text-align: center;
  color: white;
  font-size: 46px;
  padding: 15px 20px;
  font-family: 'Asap', sans-serif;
  position: relative;
}

.badge {
  background-color: #E2584D;
  color: white;
  font-size: 100%;
  font-family: 'Asap', sans-serif;


}

#win-label {
  position: absolute;
  top: 10px;
  left: -100px;
}

#totalturns {
  position: absolute;
  bottom: 10px;
  right: -90px;
}

#letter-space {
  position: absolute;
  right: 80px;
  top: 100px;
  
}

.totalletterChoose {
  position: absolute;
  top: 0;
  right: 100px;
}

#totalLetter {
  font-size: 20px;
}

 